@model ReporteTransaccionesDetalledas

@{
    ViewData["Title"] = "Movimientos Cuenta";
}

<h1>Movimientos @ViewBag.Nombre</h1>


<a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior"
   class="btn btn-secondary"><i class="bi-chevron-left"></i></a>

@Model.FechaFin.ToString("MM") - @Model.FechaFin.Year

<a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior"
   class="btn btn-secondary"><i class="bi-chevron-right"></i></a>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div class="activo">
            @Model.BalanceDepositos.ToString("N")
        </div>
    </div>
</div>
<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="activo">
            @Model.BalanceRetiros.ToString("N")
        </div>
    </div>
</div>
<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Totales</strong>
        </div>
        <div class="activo">
            @Model.Total.ToString("N")
        </div>
    </div>
</div>

@if (Model.TransaccionAgrupadas.Count() == 0)
{
    <h5>No hay transacciones para mostrar</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach(var transaccionesAgrupada in Model.TransaccionAgrupadas)
            {
                <tr style="background: lightblue; font-size: 26px">
                    <td colspan="3">@transaccionesAgrupada.FechaTransaccion.Day
                    <span class="badge bg-secondary">@transaccionesAgrupada.FechaTransaccion.ToString("ddd")</span>
                    </td>
                    <td>@transaccionesAgrupada.BalanceDepositos.ToString("N")</td>
                    <td>@transaccionesAgrupada.BalanceRetiros.ToString("N")</td>
                </tr>
                @foreach(var transaccion in transaccionesAgrupada.Transacciones)
                {
                    <tr style="vertical-align:middle">
                        <td>
                            <a>
                                <a asp-controller="transacciones" asp-action="Editar" asp-route-id="@transaccion.Id">
                                <i class="bi-pencil"></i>
                                </a>
                            </a>
                        </td>
                        <td>@transaccion.Categoria</td>
                        <td>@transaccion.Cuenta</td>
                        <td>@(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? transaccion.Monto.ToString("N") : null)</td>
                        <td>@(transaccion.TipoOperacionId == TipoOperacion.Gastos ? transaccion.Monto.ToString("N") : null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

